.button-container{
    border: 1px;
    padding: 14px 26px;
    border-radius: 6px;
    line-height: 1;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.blue{  
    background-color: #2462e8;
    color: #ffffff;
}

/* button.blue:hover{
    background-color: hsl(144, 45%, 98%);
    color : black;
} */