.button-container{
    border-radius: 5px;
    box-shadow: 0px 3px 17px #3876F194;
    transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);
    font: normal normal 500 20px/29px Manrope-Medium;
    letter-spacing: 0px;
}

.blue{  
    background: transparent linear-gradient(90deg, #266EFD 0%, #3876F1 100%) 0% 0% no-repeat padding-box;
    color: #ffffff;
    opacity: 1;
}

.large{
    width: 220px;
    height: 52px;
}

.small{
    width: 46px;
    height: 43px;
}

button.small > svg{
    width: 7px;
    height: 15px;   
}

/* button.blue:hover{
    background-color: hsl(144, 45%, 98%);
    color : black;
} */