.home-container{
    background: url('../../Assets/header-image.png') no-repeat;
    max-width: 100%;
    min-height : 540px;
    background-size: cover;
    position: relative;
}

.post-offer-modal{
    color: aliceblue;
    position: absolute;
    top: 34%;
    left: 9%;
    text-align: left;
}

p:nth-child(1){ 
    font: normal normal 500 48px/68px Manrope-Medium;
    margin: auto;
}

p:nth-child(2){ 
    font: normal normal 500 20px/29px Manrope-Medium;
    margin: auto;
}

.margin-top-27 {
    margin-top: 27px;
}
