.job-offers-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
    max-width: 100%;
}

.heading-container{
    display: flex;
    flex-direction: row;
    max-height: 30%;
    justify-content: space-between;
    align-items: center;
}

.all-job-offer-link-container{
    text-align: right;
}

.all-offer-link{
    font: normal normal bold 18px/24px Manrope-Bold;
    letter-spacing: 0px;
    color: #276FFB;
    height: 24px;
    display: flex;
}

.all-offer-link > svg {
    margin-left: 10px;
}

.jobs-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.job-article{
    height: auto;
    display: flex;
    flex-direction: column;
}

.job-heading{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    letter-spacing: 0px;
    align-items: center;
    min-height: 32px;
}

div.job-heading > span:nth-child(1){
    font: normal normal bold 24px/32px Manrope-Bold;
    color: #276FFB;
    opacity: 1;
}

div.job-heading > span:nth-child(2){
    font: normal normal 500 18px/24px Manrope-Medium;
    color: #141414;
    opacity: 0.6;
}

.job-place{
    align-self: baseline;
    font: normal normal 500 20px/27px Manrope-Medium;
    letter-spacing: 0px;
    color: #141414;
    
}

div.job-place > span:nth-child(1){
    text-align: left;
    opacity: 1;
}

div.job-place > span:nth-child(2){
    padding-left: 21px;
    opacity: 0.6;
}

.job-desc{
    align-self: baseline;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font: normal normal 500 20px/27px Manrope-Medium;
    letter-spacing: 0px;
    color: #141414;
    padding-top: 28px;
}

.job-desc > span{
    opacity: 0.6;
    max-width: 90%;
}

.jobs--container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 36px 0 71px 0;
}

.auto-height{
    height: auto !important;
}

.small{
    align-self: flex-end;
}